* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

$danske-color: #003755;

button {
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid $danske-color;
    outline: 0;
    background-color: $danske-color;
    height: 40px;
    width: 200px;
    &:hover {
        background-color: #2989d8;
    }
}

.App {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, $danske-color, #2989d8 50%);
    .form-container {
        display: flex;
        flex: 0;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 200px;
        width: 600px;
    }
    input {
        width: 400px;
        height: 40px;
        border: 1px solid $danske-color;
        outline: 0;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
    }
}
